<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWiabService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://weblm.research.microsoft.com/wiab.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWiabService"
                contract="MSNgram.IWiabService" name="BasicHttpBinding_IWiabService" />
        </client>
    </system.serviceModel>
</configuration>