<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>

    <!-- which container to use for dependency injection -->
    <add key="ContainerToUse" value="coreContainer" />

  </appSettings>
  
  <!-- unity dependency injection -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <typeAliases>

      <!-- lifetime managers -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />

      <!-- interfaces -->
      <typeAlias alias="ISingleton" type="UnityDependencyInjection.ISingleton, UnityDependencyInjection" />
      <typeAlias alias="IMathFunc" type="UnityDependencyInjection.IMathFunc, UnityDependencyInjection" />

      <!-- concrete implementations -->
      <typeAlias alias="Singleton" type="UnityDependencyInjection.Singleton, UnityDependencyInjection" />
      <typeAlias alias="Adder" type="UnityDependencyInjection.Adder, UnityDependencyInjection" />
    </typeAliases>

    <!-- containers and mapping -->
    <containers>
      <container name="coreContainer">
        <types>
          <type type="ISingleton" mapTo="Singleton">
            <lifetime type="singleton" />
          </type>
          <type type="IMathFunc" mapTo="Adder" />
        </types>
      </container>
    </containers>

  </unity>
</configuration>